@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

.form-inline {
	.form-group, .input-group {
		margin-right:5px;
	}
}

.modal {
	display: block;
}

.edit-title {
	overflow: hidden;
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #00d280;
	text-align: center;
	font-size: 17px;
	line-height: 24px;
	vertical-align: top;
	position: relative;
	//bottom: 7px;
	margin-bottom: -18px;
}
/* PROFILE HEADER */
.profile-header {
	padding-top: 50px;
	margin-bottom: 30px;
	background-color: #104da1;

	.inner-element {
		position: relative;
		width: 1000px;
		padding-left: 60px;
		padding-right: 60px;
		margin-left: auto;
		margin-right: auto;

		.userinfo {
			float:left;
			margin-left:-30px;
			margin-bottom: -30px;

			.userinfo-thumb {
				float:left;
				position:relative;
				z-index:2;
				width:180px;
				height:180px;

				.img-rounded {
				border-radius:50%;
				display:block;
				position:absolute;
				width:100%;
				height:100%;
				cursor:pointer;
				}

				.changePic {
					z-index:3;
					position: absolute;
					bottom:20px;
					left:50%;
					color:#fff;
					transform:translateX(-50%);
				}
			}

			.userinfo-basics {
				position: relative;
				float: left;
				margin-top:37px;
				margin-left: 8px;
				padding-left: 12px;
				padding-top: 8px;
				max-width:370px;
				white-space: nowrap;

				.userinfo-basics-username {
					color: #fff;
					font-weight:300;
					font-size:35px;
					line-height:50px;
					overflow:hidden;
					text-overflow:ellipsis;
				}

				.userinfo-basics-asl {
					color: #fff;
					font-size: 19px;
					line-height: 26px;
				}
			}
		}
		.userinfo:after {
			content:"";
			display:table;
			clear:both;
		}	
	}
	.inner-element:after {
		content: '';
		display:table;
		clear:both;
	}
}

/* LEFT SIDE PROFILE CONTENT -- PARAGRAPHS, ETC */
.profile-content {
	padding-top: 30px;
	min-height: 420px;
	width: 1000px;
	padding-left: 60px;
	padding-right: 60px;
	margin-left: auto;
	margin-right: auto;

	.profile-content-main {
		float: left;
		width: 560px;
		padding-right: 50px;

		.profile-section {
			position: relative;
			overflow: hidden;
			min-height: 100px;
		}

		.edit-textarea {
			min-height: 200px;
			margin-top: 22px;
			margin-bottom: 10px;
			-webkit-font-smoothing: antialiased;
			font-size: 17px;
			line-height:24px; 

			textArea {
				width: 500px;
				min-height:100px;
			}

			.paragraph-buttons {
				display: block;
				width: 100%;
				margin-top: 10px;
			}
		}

		.paragraph { 
			margin-bottom: 47px;

			.paragraph-content {
				margin-top: 14px;
				color: #2a2f35;
				word-wrap: break-word;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 17px;
				line-height: 25px;
			}

			button {
				background: transparent;
				border: 0;
				padding: 0;
				cursor: pointer;
			}

			.paragraph-title {
				display: block;
			}

			.profile-section-title{
				margin-bottom: 15px;
				color: #1e1e1e;
				font-weight: 500;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 19px;
				line-height: 22px;
			}

		}
	}
}

/* RIGHT SIDE SIDEBAR CONTENT -- DETAILS, ETC */
.profile-content-sidebar {
	float:right;
	width: 320px;

	.details-section-edit {
		border: 0;
		background: transparent;
		cursor: pointer;
		text-align: left;
		border-radius: 3px;
		margin-bottom:10px;
		width: 336px;
		margin-top: -8px;
		padding-top: 8px;
		margin-left: -8px;
		padding-left: 8px;
		margin-right: -8px;
		padding-right: 8px;

		.details-title {
			display:inline-block;
			margin-left:2px;
		}

		.details-section-filled {
			.details-block {
				margin-top: 10px;
				font-size: 20px;

				.details-element {
					display: inline-block;
					margin-left: 5px;
				}
			}
			
		}
	}

	.icon {
		position: relative;
		font-size:20px;
	}

}