.messageContainer {
  display: flex;
  min-height: 500px;
  max-width: 800px;
  border: 1px solid #e0e0eb;
  .conversation-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    .conversation {
      height: 400px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 10px;
      .message {
        width: 300px;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #e0e0eb;
        margin-bottom: 5px;
        &.outgoing {
          margin-left: auto;
        }
        &.incoming {
          background-color: #e0e0eb;
        }
      }
    }
    input {
      width: 100%;
    }
  }

  .threads {
    border-right: 1px solid #e0e0eb;
    .thread {
      cursor: pointer;
      max-width: 200px;
      max-height: 100px;
      &.active {
        background-color: #f0f0f5;
      }
      .message {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    ul {
      padding-left: 0px;
      li {
        border-bottom: 1px solid #e0e0eb;
        padding: 10px;
      }
    }
  }
}
